body{    

    background-image: url("contact.png");
    background-size: 1550px 860px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.navdiv{
    position: fixed;
    top: 0%;
    width: 100%;
    z-index: 100;
}
.logo{
    position: absolute;

}
.navbar{
  
    font-family:'Old Standard TT', serif;
    color:  #78468A ;
    text-align: right;
    font-size: 25px;
    padding-left: 70%;
    padding-right: 0%;
    display:flex;
    justify-content: space-between;
    
}
.navi{
    padding: 5%;
    text-decoration: none;
}
.navi:hover{
    color: rgb(164, 157, 165);
}
.contactinfo{
    position:center;
    margin-left: 300px;
    margin-right: 120px;
    margin-top: 10%;
    margin-bottom: 0%
}
.contactme{
    position: center;
    margin-top: 8%;
    margin-left: 38%;

}
input{
        gap: 50px;
        width: 800px;
        height: 35px;
        display: flex;
        border: 2px solid black;
        gap: 30px;
}     
.info {
    margin-top: 5%;
    width: 800px;
    margin: 0 auto;
    font-family:'Antic Didone', serif ;
    font-size: 32px;
    color: #050505;
}
.form_box{
    margin-top: 5%;
}