body{    
    background-image: url("drawings.png");
    background-size: 1550px 860px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.navdiv{
    position: fixed;
    top: 0%;
    width: 100%;
    z-index: 100;
}
.logo{
    position: absolute;

}
.navbar{
  
    font-family:'Old Standard TT', serif;
    color:  #78468A ;
    text-align: right;
    font-size: 25px;
    padding-left: 70%;
    padding-right: 0%;
    display:flex;
    justify-content: space-between;
    
}
.navi{
    padding: 5%;
    text-decoration: none;
}
.navi:hover{
    color:rgb(164, 157, 165);
}
.drawingsimg{
    position:left;
    margin-left: 150px;
    margin-right: 100px;
    margin-top: 0%;
    margin-bottom: 0%;
}
 .Text-Drawings{
    position:left;
    margin-left: 45%;
    margin-top: 2%;
    margin-bottom: 10%;
    /* Margin-left: 240px;
    margin-right: 0px;
    margin-top: 50px;
    margin-bottom: 0px; */
    font-family:'Old Standard TT', serif;
    color:  #78468A;
     font-size: 40px;
}
